@charset "UTF-8";

@font-face {
    font-family: 'notosans medium';
    src: url('../../../common/fonts/notosans/NotoSans-Medium.eot');
    src: url('../../../common/fonts/notosans/NotoSans-Medium.eot?#iefix') format('embedded-opentype'),
         url('../../../common/fonts/notosans/NotoSans-Medium.woff') format('woff2'),
         url('../../../common/fonts/notosans/NotoSans-Medium.woff') format('woff'),
         url('../../../common/fonts/notosans/NotoSans-Medium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'notosans regular';
    src: url('../../../common/fonts/notosans/NotoSans-Regular.eot');
    src: url('../../../common/fonts/notosans/NotoSans-Regular.eot?#iefix') format('embedded-opentype'),
         url('../../../common/fonts/notosans/NotoSans-Regular.woff') format('woff2'),
         url('../../../common/fonts/notosans/NotoSans-Regular.woff') format('woff'),
         url('../../../common/fonts/notosans/NotoSans-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'notosans bold';
    src: url('../../../common/fonts/notosans/NotoSans-Bold.eot');
    src: url('../../../common/fonts/notosans/NotoSans-Bold.eot?#iefix') format('embedded-opentype'),
         url('../../../common/fonts/notosans/NotoSans-Bold.woff') format('woff2'),
         url('../../../common/fonts/notosans/NotoSans-Bold.woff') format('woff'),
         url('../../../common/fonts/notosans/NotoSans-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}