<div class="component recommend_deal_list type2">
    <ul class="lst">
        <li class="deal_item">
            <a href="#" class="deal_item_anchor">
                <div class="deal_item_thumb" style="background-image:url('http://img1.tmon.kr/deals/2016/01/07/267973149/267973149_catlist_3col_v2_e5f2d_1452143110production.jpg')">
                    <span class="ico_recommend_strong" style="background-image:url('http://img2.tmon.kr/admin/search/custom/sticker/Recommend_Sticker_Type1.png')"></span>
                    <span class="blind">이미지</span>
                </div>
                <div class="deal_item_body">
                    <div class="deal_item_body_top">
                        <span>난닝구 레드포드 기모 스키니</span>
                    </div>
                    <div class="deal_item_body_bottom">
                        <strong>30,700</strong><span>원</span>
                    </div>
                </div>
            </a>
        </li>
        <li class="deal_item">
            <div class="no_item" style="display:block;">
                <span class="no_deal_item"></span>
            </div>

            <a href="#" class="deal_item_anchor" style="display: none;">
                <div class="deal_item_thumb" style="background-image:url('http://img1.tmon.kr/deals/2016/01/07/267973149/267973149_catlist_3col_v2_e5f2d_1452143110production.jpg')">
                    <span class="ico_recommend_strong" style="background-image:url('http://img2.tmon.kr/admin/search/custom/sticker/Recommend_Sticker_Type1.png')"></span>
                    <span class="blind">이미지</span>
                </div>
                <div class="deal_item_body">
                    <div class="deal_item_body_top">
                        <span>난닝구 레드포드 기모 스키니</span>
                    </div>
                    <div class="deal_item_body_bottom">
                        <strong>30,700</strong><span>원</span>
                    </div>
                </div>
            </a>
        </li>
    </ul>
</div>
