<div class="component recommend_deal_list type3">
    <div class="wrap_list">
        <ul class="lst">
            <li class="deal_item">
                <a href="#" class="deal_item_anchor">
                    <div class="deal_item_thumb" style="background-image:url('http://img1.tmon.kr/deals/2016/01/07/267973149/267973149_catlist_3col_v2_e5f2d_1452143110production.jpg')">
                        <span class="ico_recommend_strong" style="background-image:url('http://img2.tmon.kr/admin/search/custom/sticker/Recommend_Sticker_Type1.png')"></span>
                        <span class="blind">이미지</span>
                    </div>
                    <div class="deal_item_body">
                        <div class="deal_item_body_top">
                            <span>데이앤고이스 기모팬츠아아아아아아아아아아아아</span>
                        </div>
                        <div class="deal_item_body_bottom">
                            <strong>30,700</strong><span>원</span>
                        </div>
                    </div>
                </a>
            </li>
            <li class="deal_item">
                <a href="#" class="deal_item_anchor">
                    <div class="deal_item_thumb" style="background-image:url('http://img1.tmon.kr/deals/2016/01/07/267973149/267973149_catlist_3col_v2_e5f2d_1452143110production.jpg')">
                        <span class="blind">이미지</span>
                    </div>
                    <div class="deal_item_body">
                        <div class="deal_item_body_top">
                            <span>데이앤고이스 기모팬츠아아아아아아아아아아아아</span>
                        </div>
                        <div class="deal_item_body_bottom">
                            <strong>30,700</strong><span>원</span>
                        </div>
                    </div>
                </a>
            </li>
            <li class="deal_item">
                <a href="#" class="deal_item_anchor">
                    <div class="deal_item_thumb" style="background-image:url('http://img1.tmon.kr/deals/2016/01/07/267973149/267973149_catlist_3col_v2_e5f2d_1452143110production.jpg')">
                        <span class="blind">이미지</span>
                    </div>
                    <div class="deal_item_body">
                        <div class="deal_item_body_top">
                            <span>데이앤고이스 기모팬츠아아아아아아</span>
                        </div>
                        <div class="deal_item_body_bottom">
                            <strong>30,700</strong><span>원</span>
                        </div>
                    </div>
                </a>
            </li>
            <li class="deal_item">
                <a href="#" class="deal_item_anchor">
                    <div class="deal_item_thumb" style="background-image:url('http://img1.tmon.kr/deals/2016/01/07/267973149/267973149_catlist_3col_v2_e5f2d_1452143110production.jpg')">
                        <span class="blind">이미지</span>
                    </div>
                    <div class="deal_item_body">
                        <div class="deal_item_body_top">
                            <span>데이앤고이스 기모팬츠아아아아아아</span>
                        </div>
                        <div class="deal_item_body_bottom">
                            <strong>30,700</strong><span>원</span>
                        </div>
                    </div>
                </a>
            </li>
            <li class="deal_item">
                <a href="#" class="deal_item_anchor">
                    <div class="deal_item_thumb" style="background-image:url('http://img1.tmon.kr/deals/2016/01/07/267973149/267973149_catlist_3col_v2_e5f2d_1452143110production.jpg')">
                        <span class="blind">이미지</span>
                    </div>
                    <div class="deal_item_body">
                        <div class="deal_item_body_top">
                            <span>데이앤고이스 기모팬츠아아아아아아</span>
                        </div>
                        <div class="deal_item_body_bottom">
                            <strong>30,700</strong><span>원</span>
                        </div>
                    </div>
                </a>
            </li>
            <li class="deal_item">
                <a href="#" class="deal_item_anchor">
                    <div class="deal_item_thumb" style="background-image:url('http://img1.tmon.kr/deals/2016/01/07/267973149/267973149_catlist_3col_v2_e5f2d_1452143110production.jpg')">
                        <span class="blind">이미지</span>
                    </div>
                    <div class="deal_item_body">
                        <div class="deal_item_body_top">
                            <span>데이앤고이스 기모팬츠아아아아아아</span>
                        </div>
                        <div class="deal_item_body_bottom">
                            <strong>30,700</strong><span>원</span>
                        </div>
                    </div>
                </a>
            </li>
            <li class="deal_item">
                <a href="#" class="deal_item_anchor">
                    <div class="deal_item_thumb" style="background-image:url('http://img1.tmon.kr/deals/2016/01/07/267973149/267973149_catlist_3col_v2_e5f2d_1452143110production.jpg')">
                        <span class="blind">이미지</span>
                    </div>
                    <div class="deal_item_body">
                        <div class="deal_item_body_top">
                            <span>데이앤고이스 기모팬츠아아아아아아</span>
                        </div>
                        <div class="deal_item_body_bottom">
                            <strong>30,700</strong><span>원</span>
                        </div>
                    </div>
                </a>
            </li>
            <li class="deal_item">
                <a href="#" class="deal_item_anchor">
                    <div class="deal_item_thumb" style="background-image:url('http://img1.tmon.kr/deals/2016/01/07/267973149/267973149_catlist_3col_v2_e5f2d_1452143110production.jpg')">
                        <span class="blind">이미지</span>
                    </div>
                    <div class="deal_item_body">
                        <div class="deal_item_body_top">
                            <span>데이앤고이스 기모팬츠아아아아아아</span>
                        </div>
                        <div class="deal_item_body_bottom">
                            <strong>30,700</strong><span>원</span>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
    <div class="nav">
        <!-- [D] active : 버튼 on 클래스 추가해 주세요. -->
        <span class="dot on"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
    </div>
</div>