@charset "utf-8";

// 카트 상품 wrap
.ct_prod_wp {
	background-color: #fff;
	border-top: 1px solid #dfe2e6;
	border-bottom: 1px solid #dfe2e6;
	.chk_type {
		input[type="checkbox"] {
			vertical-align: top;
		}
	}
}






