.local_top {
  position: relative;
  z-index: 10;
  height: 45px;
  background-color: #fff;
  .where {
    padding-left: 15px;
    font-weight: bold;
    font-size: 1.1em;
    color: #12aec3;
    line-height: 45px;
  }
  .else {
    position: absolute;
    top: 0;
    right: 0;
    border-left: 1px solid #dadada;
    width: 127px;
    height: 45px;
    font-weight: bold;
    color: #fa5a44;
    line-height: 45px;
    text-align: center;
    &:after {
      display: inline-block;
      width: 5px;
      height: 5px;
      margin-left: 4px;
      border: solid #fa5a44;
      border-width: 0 2px 2px 0;
      vertical-align: 1px;
      -webkit-transform:rotate(-45deg);
      content: '';
    }
    .sp_tcm {
      width: 11px;
      height: 16px;
      margin-right: 4px;
      background-position: -149px -39px;
      vertical-align: -4px;
    }
  }
  .ref {
    position: absolute;
    top: 0;
    right: 128px;
    border-left: 1px solid #dadada;
    width: 49px;
    height: 45px;
    padding: 0;
    .sp_tcm {
      width: 20px;
      height: 20px;
      background-position: -130px -18px;
      vertical-align: middle;
    }
  }
}
