@charset "UTF-8";

.ly_wrapper {
	background-color: #fff;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-perspective: 1000;
	perspective: 1000;
}

.ly_header {
  position: relative;
  overflow: hidden;
  padding: 0 0 0 20px;
  height: 50px;
  border-bottom: 2px solid #000;
  background:#fff;

  h3 {
    float: left;
    font-size: 16px;
    font-weight: bold;
    line-height: 50px;
  }

  .btn_detail_cancel {
    display: block;
    float: right;
    margin-right: 3px;
    padding: 17px;

    &:before {
      @include sp-wear('btn_ly_close');
      display: block;
      content: ' ';
    }
  }
}

.ly_contents {
  position:absolute;
  overflow-y: scroll;
  -webkit-overflow-scrolling:touch;
  top: 52px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  padding-bottom:30px;
  background:#fff;
  /*&:after{
  	position:absolute;
  	bottom:0;
  	left:0;
  	right:0;
  	height:30px;
	content:'';
	background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1)));
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
	background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
  }*/
  &.bt_fixed{
  	padding-bottom:67px;
  	/*&:after{
	  	bottom:67px;
  	}*/
  }
}

.ly_footer{
	position:absolute;
	bottom:0;
	width:100%;
	padding:15px 0;
	border-top:1px solid #d8d8d8;
  	background-color:#fff;
	text-align:center;
	box-sizing:border-box;
	
	.btn{
		width:112px;
		margin:0 4px;
	}	
}

//.ly_footer {
//  overflow: hidden;
//  position: absolute;
//  margin: 0 auto;
//  bottom: 0;
//  left: 0;
//  width: 100%;
//}