@charset "UTF-8";

// select box w:100% h:30px
.select_box {
	position: relative;
	display: inline-block;
	
	.select_dp {
		display: block;
		padding-right: 20px;
		border: 1px solid #aaa;
		text-align: center;
		line-height: 28px;
		
		&:after {
			content: "";
			display: block;
			position: absolute;
			top: 11px;
			right: 8px;
			@include sp-wear('shoppingbag-icon_select');
		}
	}
	select{
		font-size:14px;
	}
	select, button{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		min-height: 30px;
		opacity: 0;
	}
}

// checkbox
.check_box {
	display: inline-block;
	position: relative;
	line-height: 21px;
	
	input[type="checkbox"] {
		position: absolute;
		left: -9999px;
	}
	.checkbox_custom {
		display: inline-block;
		width: 20px;
		height: 20px;
		background: #ddd;
		vertical-align: top;
		box-sizing: border-box;
		
		&:after {
			content: "";
			display: block;
			width: 5px;
			height: 9px;
			margin: 2px auto 0;
			border: {
				right: 3px solid #fff;
				bottom: 3px solid #fff;
			}
			-webkit-transform: rotate(45deg);
			transform: rotate(45deg);
		}
	}
	input[type="checkbox"]:checked +.checkbox_custom {
		background: #000;
	}
	
	&.type2 {
		input[type="checkbox"] +.checkbox_custom {
			background: #fff;
			border: 1px solid #ccc;
			
			&:after {
				border-color: #ccc;
			}
		}
		input[type="checkbox"]:checked +.checkbox_custom {
			background: #fe3b57;
			border: none;
			
			&:after {
				border-color: #fff;
			}
		}
	}
}

// radio
.radio_box{
	line-height:20px;
	
	input[type="radio"] {
		position: absolute;
		left: -9999px;
	}
	
	.rdo_custom{
		position: relative;
		display: inline-block;
		width: 20px;
		height: 20px;
		margin: -2px 8px 0 0;
		border: 1px solid #ccc;
		border-radius: 50%;
		vertical-align: middle;
		box-sizing: border-box;
		
		&:after {
			content: "";
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			width: 10px;
			height: 10px;
			margin: -5px 0 0 -5px;
			border-radius: 50%;
			background-color: #ccc;
		}
	}
	
	input[type="radio"]:checked +.rdo_custom {
		border-color: #fe3b57;
		
		&:after {
			background-color: #fe3b57;
		}
	}
}

// textbox
.input_box{
	display:block;
	height:29px;
	border:1px solid #ccc;
	box-sizing:border-box;
	
	input[type="text"]{
		height:100%;
		width:100%;
		padding:5px;
		border:0;
		font-size:0.9em;
		box-sizing:border-box;
	}//input[type="text"]
	
}//.input_box

// button - w:100%, h:30px 
// .btn - a, input[type="button"],
// .btn.large - h:46px
.btn {
	display: inline-block;
	width: 100%;
	padding: 0;
	background: #000;
	border: none !important;
	font-size: 1.08em;
	font-weight: bold;
	color: #fff;
	line-height: 30px;
	text-align: center;
	
	// 회색 버튼
	&.sub {
		background: #aaa;
	}
	// 빨강 버튼
	&.submit {
		background: #fe3b57;
	}
	&.weak{
		border:1px solid #000 !important;
		background:#fff;
		color:#000;
		font-size:0.9em;
		font-weight:normal;
	}
	&[disabled="disabled"]{
		background:#d0d0d0;
	}
	
	&.large{
		line-height:46px !important;
		letter-spacing: -0.003em;
	}
	
	&.xlarge{
		border:3px solid #000 !important;
		line-height:44px !important;
		font-size:17px;
		background:#0046a6;
		&.type1 {
			background: #fe3b57;
			color:#000;
		}
		&.type2 {
			background:#4dd2de;
			color:#000;
		}
		&.disable{
			border:3px solid #999 !important;
			background:#999;
			cursor:default;
		}
	}
	
	&.cancel{
	    height: 36px;
	    line-height: 34px;
	    border: 1px solid #000 !important;
	    color: #000;
	    background-color: #fff;
	    box-sizing: border-box;
	}
	
	&.confirm{
	    height: 36px;
	    line-height: 36px;
	    background-color: #000;
	}
	
    &[disabled="disabled"]{
	    background-color: #999 !important;
	    border: 0 !important;
	    line-height: 36px;
	    cursor: default;
    }
}

.toggle_w{
	
}

// product option button
.opts_type{
	input{
		position: absolute;
		left: -9999px;

		&:checked + .btn_opts{
			background:#fe3b57;
			border-color:#fe3b57;
			color:#fff;
		}

		&[disabled="disabled"] + .btn_opts{
			color:#7f7f7f;
			border-color:#7f7f7f;
			opacity:.3;
			text-decoration: line-through;
		}
	}

	.btn_opts{
		display: inline-block;
		width: 100%;
		padding:0 10px;
		line-height:28px;
		color:#000;
		font-size:12px;
		font-weight:normal;
		word-break:break-all;
		white-space:nowrap;
		text-align: center;
		border:1px solid #000;
		background:#fff;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
}

.memo_box{
	.title{
		margin:12px 0 5px 0;
		@include after;

		strong{
			float:left;
			font-weight:500;
		}//strong

		.text_num{
			float:right;
			font-size:0.9em;
			letter-spacing:0.01em;
		}//.text_num

	}//.title

	textarea{
		width:100%;
		height:56px;
		padding:5px;
		border:1px solid #ccc;
		box-sizing:border-box;
	}//textarea

}//.memo_box