@charset "UTF-8";

.sbag_ticket_list{
	.deal_lst2{
	
		li{
			padding:$list-padding;
			
			.left_area{
				display:block;
				position:static;
				width:auto;
				height:auto;
				
				img{
					position:static;
					float:left;
				}//img
				
			}//.left_area
			
			.check_box{
				
				.checkbox_custom{
					display:none;
					//float:left;
					//margin-right:15px;
				}//.checkbox_custom
				
				label{
					position:absolute;
					top:$list-padding;
					left:$list-padding;
					height:$img-height;
				}
				
				input[type="checkbox"] ~ .bg{
					position:absolute;
					top:0;
					left:0;
					width:100%;
					height:100%;
				}//.bg
				
				input[type="checkbox"]:checked + label{
					.checkbox_custom {
						background: #000;
					}
				}//label
				
				input[type="checkbox"]:checked ~ .bg{
					background-color:#f0f0f0;
					//z-index:-1;
				}//.bg
				
			}//.check_box
			
			.btn_delete{
				right:0;
			}//.btn_delete
			
		}//li
		
	}//.deal_lst2
	
	&.chkable{
		.deal_lst2{
		
			li{
				
				.right_area{
					margin-left:140px;
				}//.right_area
				
				.check_box{
					label{
						margin-left:35px;
						z-index:5;
					}
					
					.checkbox_custom{
						display:block;
						position:absolute;
						left:-35px;
					}//.checkbox_custom
					
				}//.check_box
				
				&.sold_out{
					.check_box{
						label{
							z-index:0;
						}
					}
				}
				
			}//li
			
		}//.deal_lst2
	}
	
	&.empty{
		height:324px;
		color:#999;
		text-align:center;
		line-height:324px;
		font-size:15.4px;
	}
}