@charset "UTF-8";

.wear_sns{
	overflow:hidden;
	background:#2e2e2e;
	a{
		display:inline-block;
		position:relative;
		float:left;
		text-align:center;
		width:50%;
		height:40px;
		padding:10px 0 9px;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		span{
			display:inline-block;
			&.facebook{
				@include sp-wear('btn_facebook');
			}
			&.insta{
				@include sp-wear('btn_insta');
			}
		}
		&:first-child{
			&:after{
				position:absolute;
				right:0;
				top:4.5px;
				bottom:4.5px;
				border-right:1px solid #4d4d4d;
				content:'';
			}
		}
	}
}