@charset "UTF-8";

%sp-tour {
    background: url('../im/sp-tour.png?v=#{timestamp()}') no-repeat;
    display: inline-block;
    overflow: hidden;
    background-size:(64px/2) (58px/2);
    -webkit-background-size:(64px/2) (58px/2);
}

@mixin sp-tour($filename, $padding-top:0, $padding-right:0, $padding-bottom:0, $padding-left:0){
	$dimension-map: map-get($sp-tour, $filename);
    @extend %sp-tour;
	@include sp-mosaic-base($sp-tour, $dimension-map, $filename, $padding-top, $padding-right, $padding-bottom, $padding-left);
}

$sp-tour: (
    spritesheet_name: sp-tour,
    arr-deal-emer-all-view: (offset_x: 0, offset_y: -34px, width: 14px, height: 24px),
    arr-home-promo-banner: (offset_x: -18px, offset_y: -34px, width: 12px, height: 22px),
    arr-search-region: (offset_x: -34px, offset_y: -34px, width: 12px, height: 22px),
    ico-search-air: (offset_x: 0, offset_y: 0, width: 30px, height: 30px),
    ico-search-hotel: (offset_x: -34px, offset_y: 0, width: 30px, height: 30px),
);
