@charset "UTF-8";

%sp-wear {
    background: url('../im/sp-wear.png?v=#{timestamp()}') no-repeat;
    display: inline-block;
    overflow: hidden;
    background-size:(934px/2) (858px/2);
    -webkit-background-size:(934px/2) (858px/2);
}

@mixin sp-wear($filename, $padding-top:0, $padding-right:0, $padding-bottom:0, $padding-left:0){
	$dimension-map: map-get($sp-wear, $filename);
    @extend %sp-wear;
	@include sp-mosaic-base($sp-wear, $dimension-map, $filename, $padding-top, $padding-right, $padding-bottom, $padding-left);
}

$sp-wear: (
    spritesheet_name: sp-wear,
    brandlist-morebutton: (offset_x: 0, offset_y: -320px, width: 150px, height: 150px),
    btn_comment_del: (offset_x: -904px, offset_y: -444px, width: 26px, height: 26px),
    btn_facebook: (offset_x: -886px, offset_y: -698px, width: 40px, height: 42px),
    btn_filter: (offset_x: -904px, offset_y: -494px, width: 20px, height: 20px),
    btn_insta: (offset_x: -890px, offset_y: -604px, width: 40px, height: 42px),
    btn_layer_close: (offset_x: -904px, offset_y: -284px, width: 28px, height: 28px),
    btn_layer_close_dark: (offset_x: -904px, offset_y: -316px, width: 28px, height: 28px),
    btn_ly_close: (offset_x: -306px, offset_y: -432px, width: 32px, height: 32px),
    btn_ly_reply: (offset_x: -920px, offset_y: -524px, width: 14px, height: 16px),
    btn_more_arr: (offset_x: -904px, offset_y: -348px, width: 20px, height: 12px),
    btn_pop_close: (offset_x: -346px, offset_y: -768px, width: 38px, height: 38px),
    btn_search_clear: (offset_x: -904px, offset_y: -364px, width: 28px, height: 28px),
    card-benefit_card_bc1: (offset_x: -378px, offset_y: -604px, width: 104px, height: 70px),
    card-benefit_card_citi1: (offset_x: -702px, offset_y: -604px, width: 104px, height: 70px),
    card-benefit_card_hd1: (offset_x: -648px, offset_y: -694px, width: 104px, height: 70px),
    card-benefit_card_ibk: (offset_x: -540px, offset_y: -694px, width: 104px, height: 70px),
    card-benefit_card_kb1: (offset_x: -432px, offset_y: -694px, width: 104px, height: 70px),
    card-benefit_card_keb1: (offset_x: -324px, offset_y: -694px, width: 104px, height: 70px),
    card-benefit_card_lotte1: (offset_x: -270px, offset_y: -604px, width: 104px, height: 70px),
    card-benefit_card_nh1: (offset_x: -108px, offset_y: -694px, width: 104px, height: 70px),
    card-benefit_card_sh1: (offset_x: 0, offset_y: -694px, width: 104px, height: 70px),
    card-benefit_card_sk1: (offset_x: -486px, offset_y: -604px, width: 104px, height: 70px),
    card-benefit_card_ss1: (offset_x: -216px, offset_y: -694px, width: 104px, height: 70px),
    card-benefit_card_tmon1: (offset_x: -594px, offset_y: -604px, width: 104px, height: 70px),
    card-benefit_card_wr1: (offset_x: -830px, offset_y: 0, width: 104px, height: 70px),
    card-benefit_logo_bc: (offset_x: 0, offset_y: -768px, width: 144px, height: 46px),
    card-benefit_logo_ct: (offset_x: -288px, offset_y: -768px, width: 54px, height: 46px),
    card-benefit_logo_hd: (offset_x: -464px, offset_y: -524px, width: 156px, height: 46px),
    card-benefit_logo_hn: (offset_x: -624px, offset_y: -524px, width: 146px, height: 46px),
    card-benefit_logo_ibk: (offset_x: -288px, offset_y: -524px, width: 172px, height: 46px),
    card-benefit_logo_kb: (offset_x: -494px, offset_y: -474px, width: 198px, height: 46px),
    card-benefit_logo_keb: (offset_x: -716px, offset_y: -320px, width: 106px, height: 46px),
    card-benefit_logo_lt: (offset_x: -288px, offset_y: -474px, width: 202px, height: 46px),
    card-benefit_logo_nh: (offset_x: -696px, offset_y: -474px, width: 120px, height: 46px),
    card-benefit_logo_sh: (offset_x: -632px, offset_y: -214px, width: 174px, height: 46px),
    card-benefit_logo_ss: (offset_x: -608px, offset_y: -372px, width: 218px, height: 46px),
    card-benefit_logo_wr: (offset_x: -148px, offset_y: -768px, width: 136px, height: 46px),
    card_bul_notice1: (offset_x: -928px, offset_y: -494px, width: 4px, height: 4px),
    coupon-download_ico_arr: (offset_x: -904px, offset_y: -524px, width: 12px, height: 20px),
    coupon-ico_down: (offset_x: 0, offset_y: -818px, width: 34px, height: 40px),
    coupon_bul_notice1: (offset_x: -928px, offset_y: -502px, width: 4px, height: 4px),
    coupon_bul_notice2: (offset_x: -928px, offset_y: -348px, width: 4px, height: 4px),
    deal_lst3_ticket3: (offset_x: -534px, offset_y: -274px, width: 116px, height: 34px),
    deal_lst_ticket3: (offset_x: -390px, offset_y: -274px, width: 140px, height: 34px),
    deal_lst_ticket5: (offset_x: -246px, offset_y: -274px, width: 140px, height: 34px),
    detail-thumbnail_arrow: (offset_x: -756px, offset_y: -694px, width: 36px, height: 70px),
    detail_btn_share: (offset_x: -774px, offset_y: -524px, width: 40px, height: 40px),
    detail_func_shoppingbag: (offset_x: -904px, offset_y: -246px, width: 30px, height: 30px),
    error_question_mark: (offset_x: -154px, offset_y: -320px, width: 148px, height: 148px),
    guide_pattern_01: (offset_x: -830px, offset_y: -524px, width: 70px, height: 76px),
    guide_pattern_02: (offset_x: -830px, offset_y: -444px, width: 70px, height: 76px),
    guide_pattern_03: (offset_x: -830px, offset_y: -364px, width: 70px, height: 76px),
    guide_pattern_04: (offset_x: -830px, offset_y: -204px, width: 70px, height: 76px),
    guide_pattern_05: (offset_x: -830px, offset_y: -284px, width: 70px, height: 76px),
    guide_text_ourbrands: (offset_x: 0, offset_y: -214px, width: 242px, height: 102px),
    guide_text_ticket3: (offset_x: -392px, offset_y: -102px, width: 336px, height: 104px),
    inventory-title_icon: (offset_x: -830px, offset_y: -604px, width: 56px, height: 56px),
    promotion151117-arrow_btn_go_event: (offset_x: -904px, offset_y: -474px, width: 26px, height: 16px),
    promotion151117-tit_event: (offset_x: -830px, offset_y: -664px, width: 92px, height: 30px),
    promotion151117-tit_h1: (offset_x: 0, offset_y: 0, width: 388px, height: 210px),
    refund_bul1: (offset_x: -928px, offset_y: -356px, width: 4px, height: 4px),
    selbox_arr: (offset_x: -830px, offset_y: -698px, width: 52px, height: 52px),
    share_cancel: (offset_x: -904px, offset_y: -204px, width: 30px, height: 38px),
    share_facebook: (offset_x: -732px, offset_y: -102px, width: 86px, height: 86px),
    share_kakaostory: (offset_x: -180px, offset_y: -604px, width: 86px, height: 86px),
    share_kakaotalk: (offset_x: 0, offset_y: -604px, width: 86px, height: 86px),
    share_twitter: (offset_x: -90px, offset_y: -604px, width: 86px, height: 86px),
    shoppingbag-bg_delivery_complete: (offset_x: -156px, offset_y: -474px, width: 128px, height: 106px),
    shoppingbag-btn_close: (offset_x: -904px, offset_y: -396px, width: 26px, height: 26px),
    shoppingbag-icon_select: (offset_x: -904px, offset_y: -426px, width: 24px, height: 14px),
    shoppingbag-shape-closed: (offset_x: -788px, offset_y: -274px, width: 38px, height: 20px),
    shoppingbag-shape-opened: (offset_x: -342px, offset_y: -432px, width: 38px, height: 20px),
    shoppingbag_ticket3_logo: (offset_x: -830px, offset_y: -74px, width: 100px, height: 62px),
    shoppingbag_ticket5_logo: (offset_x: -830px, offset_y: -140px, width: 100px, height: 60px),
    ticket5-triangle: (offset_x: 0, offset_y: -474px, width: 152px, height: 126px),
    ticket5-triangle2: (offset_x: -654px, offset_y: -274px, width: 130px, height: 24px),
    txt_lastchance: (offset_x: -306px, offset_y: -320px, width: 406px, height: 48px),
    txt_newarrival: (offset_x: -392px, offset_y: 0, width: 434px, height: 98px),
    ww_logo: (offset_x: -306px, offset_y: -372px, width: 298px, height: 56px),
    ww_logo_beta: (offset_x: -246px, offset_y: -214px, width: 382px, height: 56px),
);
