@charset "UTF-8";

.tab_cvs{
	overflow:hidden;
	label{
		position:relative;
		float:left;
		width:33.3%;
		&:first-child{
			width:33.4%;
			i{
				border-left:0 !important;
			}
		}
		input{
			position:absolute;
			visibility:hidden;
			&+i{
				display:block;
				text-align:center;
				background:#fafafa;
				color:#959da6;
				border-left:1px solid #dfe2e6;
				border-bottom:1px solid #dfe2e6;
				box-sizing:border-box;
				-webkit-box-sizing:border-box;
				height:40px;
				padding-top:13px;
			}
			&:checked+i{
				border-bottom:0;
				color:#fa5a44;
				background:#fff;
			}
		}
	}
}